body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
.todoHeader {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100px;
  background: rgb(100, 31, 31);
}

.todoBox {
  padding: 15px;
  margin-bottom: 10px;
  display: flex;
  border: 1px solid black;
  border-radius: 3px;
}
.todoBox input {
  margin-right: 15px;
}
.todoBox p {
  line-height: 100%;
  margin: 0;
  letter-spacing: 1px;
}
